<div class="container">
  <!-- <div class="row"> -->
    <h4>Cascading Meadows - CMSOS Annual General Meeting 2016</h4>
    <p>The Annual General Meeting will be held at the Cascading Meadows premises with provision for online real-time remote access as well as Proxy representation in case of physical attendance as provided for in the CMSOS bye-laws (Chapter 7, Sections 1-8) on Monday, 15th August 2016 during the time as specified below. All members are requested to attend either physically or remotely at the cyberspace and deliberate and provide suggestions on topics stated for discussion in the Agenda. </p>
<br>
<p>
Agenda (as per Chapter 7, Section 2 of CMSOS bye-laws):
<ol>
<li>Adoption of the Annual Report and the Audited Statement of Accounts. </li>
<li>Ratification of the 2 year term (effective 5th June 2015 to 4th June 2017, as per Chapter 3 of bye-laws) of current office bearers to the Board.</li>
<li>Other items on the Agenda.</li>
<li>Any other business which may be brought forward with the consent of the Chairman</li>
</ol>
</p>
<br>
<p>
Time :
<ol>
<li>5PM to 6PM IST (7:30AM to 8:30AM EST USA/Canada; 12:30PM to 1:30PM London UK time; 2:30PM to 3:30PM Doha time; 3:30PM to 4:30PM Dubai time; 9:30PM to 10:30PM Sydney Australia time or as the corresponding time may be at the member location):  Deliberation according to Agenda points
</li>
<li>6:30PM to 8:00PM IST: Dinner for all CMSOS members and families who physically attend the AGM meeting (sponsored by the MC members from their personal funds on volunteer basis and will not be charged against the corpus funds collected from the CMSOS members as membership and annual maintenance fees).</li>
</ol>
</p>
<br>
<p>
Notes:
<ol>
<li>
All members of CMSOS or their proxy (as defined in Chapter 2, Section 2) who have paid membership fee and Annual maintenance charges for 2015-16, are eligible to participate in AGM. Any new members who may join before the scheduled AGM would be eligible to participate provided that they pay membership fee (Rs.1000) and Annual maintenance charges (currently Rs.1.50 per sq ft of site area) for 2016-17 and register their proof of physical and cyber identity as per note 2 before the date of AGM.
</li>
<li>Please be ready to provide valid ID such as Driver License (in case of physical presence or scan in case of cyber presence) or alternate means in case of cyber presence such as registered email address, registered skype address or Google hangout address or other cyber identity proof.
</li>
<li>Those attending physically, please come to the gate of the Cascading Meadows Phase 1 and call either the President (9448275437) or Member (9449832452) any time from before half an hour from the start of the AGM and the member will be guided to proceed to the venue of the AGM.
</li>
<li>Venue of the post-AGM dinner: EVOMA Business Hotel
Address: 14, Bhattarahalli, Near Garden City College K R, Old Madras Rd, Hosabasavanapura, Krishnarajapuram, Bengaluru, Karnataka 560049
Phone: 080 4190 3000
</li>
<li>Those attending through cyber presence, please provide your updated current e-mail address for registration with your identity along with your skype ID or Google Hangout access details. You will receive instructions for connection through either of these means closer to the AGM. In case you are unable to connect through either of the teleconference means, you may still participate online during the AGM by emailing brief messages to the CMSOS email address, using the same as a chat medium as we shall be checking emails and responding to them during the AGM as far as possible or follow up on the same post-AGM.
</li>
</ol>
</p>

For Management Committee Board <br>
<br>
Shubha Chodagam <br>
Secretary <br>
Choice Members Site Owners Society <br>
  <!-- </div> -->
</div>
