<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Place this tag where you want the widget to render. -->

<h4>Want to get in touch with CMSOS?</h4>
Connect with us via:
<ul>
<li><a href="mailto:cmsos2015@yahoo.com?subject=Hello CMSOS">Email</a></li>
<li>Follow us on our <a href="http://plus.google.com/110083899524027914479">CMSOS Google+</a> page<br><span class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/110083899524027914479" data-rel="publisher"></span></li>
</ul>

<h4>Location</h4>
<address>Cascading Meadows,<br>Margondanahalli Village,<br>Bidarahalli-2 Hobli, East Taluk,<br>Bangalore-560036</address>
<div><a target="_blank" href="https://www.google.com/maps/place/Cascading+Meadows+Green+Woods+Layout,+Kithaganur+Colony+Bengaluru,+Karnataka+560039/"><img class="center-block img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center=Cascading+Meadows+Green+Woods+Layout,+Kithaganur+Colony+Bengaluru,+Karnataka+560039&zoom=15&scale=false&size=600x300&maptype=roadmap&format=gif&visual_refresh=true&markers=icon:Cascading Meadows%7Cshadow:true%7CCascading+Meadows" alt="Google Map of Cascading Meadows Green Woods Layout, Kithaganur Colony Bengaluru, Karnataka 560039"></a></div>
